html {scroll-behavior: smooth;}
body {margin:0px;}
h2 {font-family:"Arial Black", Gadget, sans-serif;}
p {font-family:"Comic Sans MS", cursive, sans-serif;}

#anthony{background-color:#E3E3E3;}

#Gtitre{margin-right:500px;
	color:blue;
	right:15%;
	top:10%; 
	font-size:50px;
	position: absolute;
    transform: translate(50%,-50%);
    text-transform: uppercase;
    font-family: verdana;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);}





#diff{color:#00E8FF;}

	#logo{margin-left:190px;
		position:absolute;
		top:50px;
		left:105px;}

#logo2{margin-left:200px;
	background-color:blue;
	border:1px solid black;
 border-radius: 50%;}

 .navbar {
 font-family:'Fira Code', monospace;
  width: 100%;
  background-color: #003D6A;
  overflow: auto;
  z-index:2;}

.navbar a {
  padding: 17px;
  margin-left:30px;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 23px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: linear-gradient(to bottom, #000, #000 50%, #fff 50%, #fff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-repeat: no-repeat;
  transition: background 0.2s ease-out;
  white-space: nowrap;
}

.navbar a:hover {
  background-position: 0 15px;}

#img1 {float:right;
margin-right:200px;}

#img2 {float:left;
margin-left:200px;}

.text1{line-height:2em;
		text-align:center;
		background-color:#E3E3E3;
	text-align:left;
	text-align:justify;
	margin-left:200px;
margin-right:900px;}

.text2{line-height:2em;
		text-align:right;
		text-align:justify;
		margin-left:900px;
margin-right:200px;}

.titre {text-align:center;
	line-height:3em;}

#simplon{font-family:"Arial Black", Gadget, sans-serif;
	font-size:20px;}

#fin {background-color:#E3E3E3;
text-align: center;}