<<<<<<< Updated upstream
#Gtitre {text-align:center;}

.Pierre
{
    text-align: center;
}
=======
body {margin:0px;}

#anthony{background-color:black;}

#Gtitre {color:blue;
	right:15%;
	top:10%;
	position:absolute;
		margin:0px; 
		font-size:50px;}

	#logo{margin-left:200px;
		position:absolute;
		top:50px;
left:105px;}

#logo2{margin-left:200px;
	background-color:blue;
	border:1px solid black;
 border-radius: 50%;}



>>>>>>> Stashed changes
